.bddvd_index .bddvd_index_list ul li {
  position: relative;
  float: left;
}
.bddvd_index .bddvd_index_list ul li a figure img {
  width: 100%;
}
.bddvd_index .bddvd_index_list ul li a p {
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  line-height: 1.4;
}
.bddvd_index .bddvd_index_btn ul {
  letter-spacing: -.4em;
  text-align: center;
  margin-bottom: 40px;
}
.bddvd_index .bddvd_index_btn ul li {
  display: inline-block;
  letter-spacing: normal;
  text-align: center;
}
.bddvd_index .bddvd_index_btn ul li a {
  display: block;
  color: #000;
  background: #fff;
  font-weight: 600;
}

@media only screen and (min-width: 751px) {
  .cont_wrap .mainContents h2 {
    margin-bottom: 89px;
  }

  .bddvd_index {
    max-width: 890px;
    margin: auto;
  }
  .bddvd_index .bddvd_index_list ul li {
    width: 30.78%;
    margin: 0 3.7% 40px 0;
  }
  .bddvd_index .bddvd_index_list ul li:nth-child(3n) {
    margin-right: 0;
  }
  .bddvd_index .bddvd_index_list ul li a:hover p {
    background: #fff;
    color: #000;
  }
  .bddvd_index .bddvd_index_list ul li a p {
    width: 96%;
    padding: 11.5px 2% 10.5px;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .bddvd_index .bddvd_index_btn ul li {
    margin: 0 4px;
  }
  .bddvd_index .bddvd_index_btn ul li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 194px;
    padding: 8px 0 7px;
    font-size: 14px;
  }
  .bddvd_index .bddvd_index_btn ul li a:hover {
    color: #fff;
    background: #000;
  }
}
@media only screen and (max-width: 750px) {
  .bddvd_index .bddvd_index_list ul {
    width: 93.333%;
    margin: auto;
  }
  .bddvd_index .bddvd_index_list ul li {
    width: 45.714%;
    margin: 0 2.135% 20px;
    text-align: center;
  }
  .bddvd_index .bddvd_index_list ul li a p {
    width: 96%;
    padding: 4px 2% 3px;
    font-size: 12px;
    font-weight: 500;
  }
  .bddvd_index .bddvd_index_btn ul {
    margin-top: 20px;
  }
  .bddvd_index .bddvd_index_btn ul li {
    width: 28.53%;
    margin: 0 0.93%;
  }
  .bddvd_index .bddvd_index_btn ul li a {
    width: 100%;
    padding: 8px 0 7px;
    font-size: 12px;
  }
}