.page_contents {
  text-align: center; }
  .page_contents .profile strong {
    display: block;
    /* background: #000; */
    /* color: #FFF; */
    background: #fff;
    font-weight: normal;
    letter-spacing: 0.05em;
    }

@media only screen and (min-width: 751px) {
  .page_contents {
    width: 680px;
    margin: auto;
    min-height: 400px;
  }
  .page_contents .btn_read a {
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    width: 25%;
    min-width: 220px;
    margin: 30px auto;
    padding: 13px 0 12px;
    letter-spacing: 0.1em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url("https://darli-fra.jp/assets/img/common/point_right.png") no-repeat 95% center #000;
    background-position: 95% center;
    -webkit-background-size: 7px;
    -o-background-size: 7px;
    background-size: 7px;
  }
  .page_contents .btn_read a:hover {
    background-position: 97% center;
  }
  .page_contents .profile strong {
    margin: 60px auto 19px;
    padding: 12px 0 13px;
    font-size: 16px;
  }
  .page_contents .profile p {
    font-size: 14px;
    line-height: 1.8;
  } 
}
@media only screen and (max-width: 750px) {
  .page_contents {
    margin: 0 20px;
  }
  .page_contents .btn_read a {
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 12px;
    width: 50%;
    margin: 21px auto 42px;
    padding: 11px 0 10px;
    letter-spacing: 0.1em;
    background: url("https://darli-fra.jp/assets/img/common/point_right.png") no-repeat 97% center #000;
    background-position: 97% center;
    -webkit-background-size: 6px;
    -o-background-size: 6px;
    background-size: 6px;
  }
  .page_contents .profile strong {
    margin: 21px auto 14px;
    padding: 9px 0;
    font-size: 13px; 
  }
  .page_contents .profile p {
    font-size: 14px;
    line-height: 1.8;
  }
}