.lead {
  text-align: center;
  line-height: 2.2;
}
.lead p {
  background: #000;
  color: #FFF;
  font-weight: 900;
  display: inline;
}
@media only screen and (min-width: 751px) {
  .lead {
    margin-bottom: 40px;
  }
  .lead p {
    font-size: 30px;
    padding: 2px 8px;
  }
}
@media only screen and (max-width: 750px) {
  .lead {
    margin-bottom: 25px;
  }
  .lead p {
    font-size: 15px;
    padding: 2px 5px;
  }
}

.text1 p {
  display: inline;
  background: #FFF;
  color: #000;
  line-height: 2.3;
}
.text1 p span {
  background: #000;
  color: #FFF;
}
@media only screen and (min-width: 751px) {
  .text1 {
    text-align: center;
    margin-bottom: 40px;
  }
  .text1 p {
    letter-spacing: 0.05em;
    font-size: 17px;
    font-weight: 700;
  }
  .text1 p span {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 750px) {
  .text1 {
    margin: 0 20px 30px;
    font-size: 14px;
  }
  .text1 p {
    padding: 0 5px;
  }
  .text1 p span {
    padding: 0 5px;
  }
}

.text2 {
  text-align: center;
}
.text2 p {
  display: inline;
  background: #000;
  color: #FFF;
  line-height: 2.2;
  font-weight: 700;
}
.text2 p .b {
  color: #008bb6;
}
.text2 p .r {
  color: #ff4725;
}
@media only screen and (min-width: 751px) {
  .text2 p {
    padding: 2px 5px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .text2 p {
    padding: 2px 5px;
  }
}
